env
env/*

venv/
.venv/*
=======
.venv
venv/*

# Ignore macOS system files
.DS_Store
venv/

# Ignore environment variables
.env

*.pyc
**/*.pyc


__pycache__/
*/__pycache__/*
=======
__pycache__/*
*/__pycache__/*

__pycache__/
*.pyc

